# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
# 插件及其示例工程不提交依赖锁定文件。
**/pubspec.lock
**/doc/api/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub-cache/
**/.pub/
**/build/
**/coverage/

# Local environment files
**/*.local
**/.env
**/.env.*
!**/.env.example

# Test and tooling outputs
**/test-results/
**/*.lcov
